// load _sth lib
@screen-medium: '';
@screen-small: '';
@font-size-base: 14;
@font-size-medium: 16;
@font-size-small: 16;

@fonts: 'simpleline', 'montserrat-regular-webfont', 'montserrat-light-webfont';
@fPath: '/_dist/fonts/';
@f-regular: 'montserrat-regular-webfont';
@f-light: 'montserrat-light-webfont';
@f-icons: 'simpleline';


@import "../lib/Sth-Camouflage/_sth_base.less";
@import "flex/flex.less";
@import "structure/icons.less";

body {
    font-size: ~"@{font-size-base}px";
}

body * {
    .marg();
    .padd();
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 none;
    font-family: @f-light;

    line-height: 1.4;
}

script  {
    display: none;
}

.icon-preview-box {
    .sth-4;
    .sth-max-6;
    .padd(10,0,10);
    i {
        .font-size(18);
    }
}

@font-medium: 'monserrat-regular-webfont';
@font-light: 'monserrat-light-webfont';

@import "structure/variables.less";
@import "structure/table.less";
@import "structure/typo.less";
@import "structure/base.less";
@import "structure/box.less";
@import "structure/btns.less";
@import "structure/errors.less";
@import "structure/forms.less";
@import "structure/tabs.less";
@import "structure/steps.less";
@import "structure/chat.less";
@import "structure/timeline.less";
@import "structure/alerts.less";
@import "structure/modal.less";
@import "structure/others.less";
@import "structure/sticky_footer.less";
