@import "_mixins.less";
// defines max flex columns
@flex-count: 10;

//defines max for higher than medium resolution
@max-count: 10;

// defines max for medium resolution flex columns
// where MD is max-width for medium
@max-count-md: 10;
@md: 1024px;
// defines max for small resolution flex columns
// where sm is max-width for small
@sm: 640px;
@max-count-sm: 10;

.sth {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    // flex-wrap: wrap;
    // position: relative;
    // -webkit-align-items: flex-start;
    // align-items: flex-start;
    max-width: 1170px;
    .marg-auto();
    &.sth_full {
        max-width: 100%;
    }
    &.sth-row-rev {
        flex-direction: row-reverse;
    }
    &.sth-col {
        flex-direction: column;
    }
    &.sth-col-rev {
        flex-direction: column-reverse;
    }
    &.sth-wrap {
        flex-wrap: wrap;
    }
    &.sth-wrap-rev {
        flex-wrap: wrap-reverse;
    }
    &.sth-start {
        justify-content: flex-start;
    }
    &.sth-end {
        justify-content: flex-end;
    }
    &.sth-center {
        justify-content: center;
    }
    &.sth-space {
        justify-content: space-around;
    }
    &.sth-spaced {
        justify-content: space-between;
    }
    &.sth-top {
        align-items: flex-start;
    }
    &.sth-mid {
        align-items: center;
    }
    &.sth-bottom {
        align-items: flex-end;
    }
    &.sth-stretch {
        align-items: stretch;
    }
    &.sth-baseline {
        align-items: baseline;
    }
    [class^='sth-'] {
        &.sth-s-bottom {
            align-self: flex-end;
        }
        &.sth-s-top {
            align-self: flex-start;
        }
        &.sth-s-mid {
            align-self: center;
        }
        &.sth-s-stretch {
            align-self: stretch;
        }
    }
    // &.sth-mid {
    //     [class^='sth-'] {
    //         align-items: baseline;
    //         margin: auto;
    //     }
    // }
    &.sth-eq-h {
        align-items: initial;
    }
}

// Specify maximum flex

.loopingClass (@index) when (@index <= @flex-count) {
    /*This is the created ID with the index appended to it
    You can also do this with classes such as if
    we had had ".insert@{index}"*/
    .sth-@{index} {
        .fbox(@index);
    }
    .sth-spacing > .sth-@{index} {
        .marg(0,10,20,10);
    }

    /*Here we increment our loop*/
    .loopingClass(@index + 1);
}
.loopingClass(1);

.sth-vcenter {
    align-items: center;
    justify-content: center;
}
@import "responsivness.less";

.loopingS(1);
