.loopingMD (@index) when (@index <= @max-count-md) {
    /*This is the created ID with the index appended to it
    You can also do this with classes such as if
    we had had ".insert@{index}"*/
    .sth-md-@{index} {
        @media screen and (max-width: @md) {
            flex-wrap: wrap;
            &[class^='sth-'] {
                @wh: (100 / @index);
                flex-basis: ~"@{wh}%";
                -webkit-flex-basis: ~"@{wh}%";
                max-width: ~"@{wh}%";
            }
            & > [class^='sth-'] {
                @wh: (100 / @index);
                flex-basis: ~"@{wh}%";
                -webkit-flex-basis: ~"@{wh}%";
                max-width: ~"@{wh}%";
            }
        }
    }
    /*Here we increment our loop*/
    .loopingMD(@index + 1);
}
.loopingMD(1);


.loopingSM (@index) when (@index <= @max-count-sm) {
    /*This is the created ID with the index appended to it
    You can also do this with classes such as if
    we had had ".insert@{index}"*/
    .sth-sm-@{index} {
        @media screen and (max-width: @sm) {
            flex-wrap: wrap;
            & [class^='sth-'] {
                @wh: (100 / @index);
                flex-basis: ~"@{wh}%";
                -webkit-flex-basis: ~"@{wh}%";
                max-width: ~"@{wh}%";
            }
            & > [class^='sth-'] {
                @wh: (100 / @index);
                flex-basis: ~"@{wh}%";
                -webkit-flex-basis: ~"@{wh}%";
                max-width: ~"@{wh}%";
            }
        }
    }
    /*Here we increment our loop*/
    .loopingSM(@index + 1);
}
.loopingSM(1);

.loopingS (@index) when (@index <= @max-count) {
    /*This is the created ID with the index appended to it
    You can also do this with classes such as if
    we had had ".insert@{index}"*/
    .sth-max-@{index} {
        flex-wrap: wrap;
        &[class^='sth-'] {
            @wh: (100 / @index);
            flex-basis: ~"@{wh}%";
            -webkit-flex-basis: ~"@{wh}%";
            max-width: ~"@{wh}%";
        }
        & > [class^='sth-'] {
            @wh: (100 / @index);
            flex-basis: ~"@{wh}%";
            -webkit-flex-basis: ~"@{wh}%";
            max-width: ~"@{wh}%";
        }
    }
    /*Here we increment our loop*/
    .loopingS(@index + 1);
}
.loopingS(1);
