.sth-alerts {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 10000;
    width: 300px;
    .alert {
        .alert-anim;
        .close-alert {
            right: 10px;
            top: 10px;
            position: absolute;
            color: #fff;
            cursor: pointer;
        }
        position: relative;
        .marg(0,0,10);
        .padd(10,10,10,10);
        border-radius: 3px;
        width: 100%;
        background: @col-base;
        color: #fff;
        p {
            .padd(0,0,5);
        }
        &.alert-light {
            background: @col-sec-1;
            color: @col-base;
            i {
                color: @col-base;
            }
        }
        &.alert-success {
            background: @col-ext-3;
        }
        &.alert-danger {
            background: @col-ext-2;
            // color: @col-base;
            // i {
            //     color: @col-base;
            // }
        }
    }
}


.alert-anim {
-moz-animation-name: dropfromright;
-moz-animation-iteration-count: 1;
-moz-animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
-moz-animation-duration: .5s;

-webkit-animation-name: dropfromright;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
-webkit-animation-duration: .5s;

animation-name: dropfromright;
animation-iteration-count: 1;
animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
animation-duration: .5s;
}

@-moz-keyframes dropfromright {
    0% {
        -moz-transform: translateX(100px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-webkit-keyframes dropfromright {
    0% {
        -webkit-transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes dropfromright {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}
