body {
    color: #555;
}
header {
    background: @col-base;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: ~"@{menu-height}px";
    z-index: 9000;
    .logo {
        max-height:~"@{menu-height}px";
    }
    ul.menu {
        li {
            display: inline-block;
            position: relative;
            .font-size(12);
            .padd(5);
            &:before {
                display: none;
            }
            ul {
                .transition(max-height 0.4s);
                background: @col-base;
                display: block;
                max-height: 0;
                overflow: hidden;
                width: 100%;
                min-width: 150px;
                position: absolute;
                top: 100%;
                left: 0;
                li {
                    display: block;
                }
            }
            &:hover {
                ul {
                    max-height: 1000px;
                }
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            .font-size(12);
            .padd(18,10,10,10);
            display: block;
            &:hover {
                background: darken(@col-base, 5%);
            }
            i {
                position: absolute;
                left: 50%;
                top: 8px;
                margin-left: -5px;
            }
        }
    }
}
footer {
    background: @col-base;
    color: #fff;
    .padd(20);
    p {
        .padd();
    }
}
hr {
    border: 1px solid @col-sec-2;
    .marg(10,0,10);
}
.user-head {
    color: #fff;
    .cnt {
        position:absolute;
        top: 4px;
        right: 4px;
    }
    .padd(10, 10,8,10);
    // .font-size(16);
    ul {
        li {
            &:before {
                display: none;
            }
        }
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    ul, ul a {
        .font-size(12);
    }
    h2 {
        .font-size(16);
    }
    i:before {
        .font-size(18);
    }
    float:right;
    .user-cont {
        background: @col-sec-2;
        .padd(20,20,20,20);
        .transition(right 0.4s);
        position: absolute;
        top: 100%;
        right: -100%;
        border-radius: 0 0 4px 4px;
        min-width: 500px;
        img {
            border-radius: 1000px;
            max-width: 120px;
        }
    }
    &:hover {
        .user-cont {
            right: -10px;
        }
    }
}
.cnt {
    border-radius: 20px;
    .dims-rem(14,14);
    .font-size(10);
    .text-center;

    font-family: Arial;
    background: @col-ext-2;
    color: #fff;
}
p.perc {
    .font-size(25);
    font-family: @font-medium;
    padding: 0 !important;

    &.perc-g {
        color: @col-g;
    }
    &.perc-r {
        color: @col-r;
    }
}
