.box {
    .box-head {
        .padd(10,20,10,20);
        border-radius: 4px 4px 0px 0px;
        background: @col-sec-1;
        color: @col-font-1;
        border-bottom: 1px solid @col-sec-2;
    }
    img.box-head {
        .padd();
        width: 100%;
    }
    .box-content {
        .padd(20,20,20,20);
    }
    border: 1px solid @col-sec-2;
    border-radius: 4px;

    p {
        .padd(10,20,10,20);
    }

    &.box-netural {
        background: @col-ext-1;
        border: none;
        color: #fff;
    }

    &.box-small {
        .marg(0,0,10);
        [class^='sth-'] {
            .padd();
        }
        h3 {
            .font-size(13);
            .padd(10,0,0,10);
        }
        p {
            .padd(0,0,10,10);
        }

    }
}
