.btn {
    background: @col-ext-1;
    color: #fff;
    .padd(10,20,10,20);
    .marg(20,0,20);
    .transition(padding .2s);
    border-radius: 2px;
    cursor: pointer;
    display: table;
    text-decoration: none;
    &:hover {
        .padd(10,40,10,40);
    }
    &.center {
        margin: auto;
    }
    &.right {
        margin: 0 0 0 auto;
    }
    &.sth-center {
        margin-top: 10px !important;
    }

    &.btn-ok {
        background: @col-ext-3;
    }
    &.btn-error {
        background: @col-ext-2;
    }
    &.btn-warning {
        background: @col-sec-3;
    }

    i {
        display: inline-block;
    }

    &.btn-inline {
        display: inline-block;
    }
    &.btn-sm {
        .padd(0,20,0,20);
        &:hover {
            .padd(0,40,0,40);
        }
    }
    &.btn-shadow {
        background: transparent;
        border: 1px solid @col-ext-1;
        color: @col-ext-1;
        &.btn-ok {
            border-color: @col-ext-3;
            color: @col-ext-3;
        }
        &.btn-error {
            border-color: @col-ext-2;
            color: @col-ext-2;
        }
        &.btn-warning {
            border-color:  @col-sec-3;
            color:  @col-sec-3;
        }

    }

}
