.chat {
    .box-head {
        position: relative;
        img {
            position: absolute;
            opacity: 1;
            .transition(opacity 0.2s);
            right: 10px;
            bottom: -5px;
            border-radius: 100px;
            .dims-rem(60,60);
            .box-shadow(0px 5px 8px 0px rgba(50, 50, 50, 0.3));
        }
    }
            // border: 1px solid @col-ext-1;
    .box;
    .time{
        position: absolute;
        width: 20px;
        bottom: 10px;
        .font-size(11);
        .padd(0,0,0,0);
    }
    .msg-in, .msg-out {
        position: relative;
        min-height: 60px;
        border-bottom: 1px solid @col-sec-1;
    }
    .msg-in {
        .padd(0,0,0,60);
        border-left: 2px solid @col-ext-1;
        background: rgba(0,0,0,0.02);
        .time {
            left: 20px;
        }
    }
    .msg-out {
        // .font-size(12);
        .text-right;
        .padd(0,60);
        .time {
            right: 20px;
        }
    }
    .sender {
        .text-center;
        .inline-form;
    }

    &.fixed-height {
        .messages {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: none;
        }
    }
    &.fixed {
        .close {
            position: absolute;
            .font-size(20);
            color: @col-ext-1;
            right: 0px;
            top: -5px;
            opacity: 0;
            z-index: 100;
            .transition(opacity .2s);
        }
        .box-head:hover {
            img {
                opacity: 0;
            }
            .close {
                opacity: 1;
                cursor: pointer;
            }

        }

        width: 250px;
        background: #fff;
        border-radius: 2px 2px 0 0;
        position: fixed;
        bottom: 0px;
        right: 0px;
        margin-right: 20px;
        max-height: 350px;
        .msg-in, .msg-out {
            .font-size(12);
            .padd(10,10,10,10);
            p {
                .padd()
            }
        }
        .time {
            bottom: auto;
            position: relative;
            left: 0px;
        }
        .messages {
            max-height: 250px;
            overflow-y: auto;
            overflow-x: none;
        }

        &.minimised {
            bottom: -310px;
            &:hover {
                bottom: -300px;
            }
        }
    }
}
