.error {
    .text-center;
    h1 {
        .font-size(80, 1);
        .padd();
    }
    .error-data {
        .font-size(14);
        .padd(0,0,20);
    }
    form {
        max-width: 300px;
        .marg-auto();
    }
}
