input,
textarea {
    border: 1px solid @col-sec-2;
    .padd(5,20,5,20);
    border-radius: 2px;
    width: 100%;
    height: 35px;
    .marg(10,0,10);
    &[disabled] {
        border-color: @col-sec-1;
        background: @col-sec-1;
    }
}
textarea {
    height: auto;
    min-height: 200px;
}
button {
    .btn;
    .marg();
    width: 100%;
    &.with-icon {
        position: relative;
        .padd(5,10,5,20);
        i {
            position: absolute;
            left: 10px;
            top: 9px;
        }
    }
}
.input-info {
    background: @col-sec-1;
}
.input-icon {
    position: relative;
    input {
        z-index: 10;
        position: relative;
        background: transparent;
        .padd(5,20,5,20);
    }
    i {
        position: absolute;
        left: 8px;
        top: 9px;
        .font-size(10);
    }
    &.icon-right {
        i {
            left: auto;
            right: 8px;
        }
        input {
            .padd(5,20,5,20)
        }
    }
}
label {
    .marg(0,0,-10);
}
.input-group {
    .sth;
    .input-group-last,
    .input-group-first {
        border: 1px solid @col-sec-2;
        height: 35px;
        .text-center;
        .padd(5,5,5,5);
        .font-size(10, 1.7);
        position: relative;
        .marg(10,0,10);
        i {
            position: absolute;
            left: 50%;
            top: 4px;
            margin-left: -8px;
            .font-size(16);
        }
    }
    .input-group-last {
        border-radius: 0 4px 4px 0;
        border-left: none;
    }
    .input-group-first {
        border-radius: 4px 0 0 4px;
        border-right: none;
    }
    button,
    .btn {
        height: 35px;
        .padd(5,20,5,20);
        border: none !important;
    }
}
.inline-form {
    .padd(10,0,10);
    input {
        display: inline-block;
        width: auto;
    }
    button {
        width: auto;
        height: 35px;
        .padd(5,20,5,20);
        display: inline-block;
    }
}
.checkbox {
    .clearfix;
    [type="checkbox"] {
        display: none;
    }
    label {
        position: relative;
        .padd(10,0,10,30);
    }
    label:before {
        .transition(background .2s);
        background: #fff;
        .dims-rem(12,12);
        content: "";
        position: absolute;
        left: 2px;
        top: 12px;
        border: 2px solid @col-sec-2;
        border-radius: 2px;
    }
    input[type=checkbox]:checked + label:before {
        background: @col-ext-3;
        border-color: @col-ext-3;
    }
    input[type=checkbox]:checked + label:after {
        .dims-rem(10,10);
        background: url(../img/tick.svg);
        content: "";
        position: absolute;
        left: 5px;
        top: 15px;

        // background: red;
        .background-size(cover);
        z-index: 900;
    }
    input[type=checkbox][disabled] + label {
        color: @col-sec-1;
        &:before {
            border-color: @col-sec-1;
        }
    }
}
.checkbox-slided {
    .clearfix;
    [type="checkbox"] {
        display: none;
    }
    label {
        position: relative;
        .padd(10,0,10,30);
    }
    label:before {
        .dims-rem(20,8);
        content: "";
        position: absolute;
        left: 2px;
        top: 14px;
        border: 2px solid @col-sec-2;
        border-radius: 2px;
    }
    label:after {
        .transition(all .2s);
        .dims-rem(10,16);
        background: @col-sec-2;
        content: "";
        position: absolute;
        left: 0;
        top: 11px;
        border-radius: 4px;

        // background: red;
        .background-size(cover);
        z-index: 900;
    }
    input[type=checkbox]:checked + label:after {
        left: 17px;
        background: @col-ext-3;
    }
    input[type=checkbox][disabled] + label {
        color: @col-sec-1;
        &:after {
            background: @col-sec-1;
        }
        &:before {
            border-color: @col-sec-1;
        }
    }
}
.radio {
    .clearfix;
    [type="radio"] {
        display: none;
    }
    label {
        position: relative;
        .padd(10,0,10,30);
    }
    label:before {
        .transition(all .3s);
        .dims-rem(12,12);
        content: "";
        position: absolute;
        background: #fff;
        left: 2px;
        top: 14px;
        border: 2px solid @col-sec-2;
        border-radius: 20px;
    }
    input[type=radio]:checked + label:before {
        background: @col-ext-3;
        border-color: @col-ext-3;
    }
    input[type=radio]:checked + label:after {
        background: #fff;
        .dims-rem(3,3);
        content: "";
        position: absolute;
        left: 9px;
        border-radius: 10px;
        top: 21px;
    }
    input[type=radio][disabled] + label {
        color: @col-sec-1;
        &:after {
            background: @col-sec-1;
        }
        &:before {
            border-color: @col-sec-1;
        }
    }
}
.radio-slided {
    .clearfix;
    [type="radio"] {
        display: none;
    }
    label {
        position: relative;
        .padd(10,0,10,30);
    }
    label:before {
        .dims-rem(20,8);
        content: "";
        position: absolute;
        left: 2px;
        top: 14px;
        border: 2px solid @col-sec-2;
        border-radius: 2px;
    }
    label:after {
        .transition(all .2s);
        .dims-rem(10,16);
        background: @col-sec-2;
        content: "";
        position: absolute;
        left: 0;
        top: 11px;
        border-radius: 4px;

        // background: red;
        .background-size(cover);
        z-index: 900;
    }
    input[type=radio]:checked + label:after {
        left: 17px;
        background: @col-ext-3;
    }
    input[type=radio][disabled] + label {
        color: @col-sec-1;
        &:after {
            background: @col-sec-1;
        }
        &:before {
            border-color: @col-sec-1;
        }
    }
}
.file-input {
    input {
        display: none;
    }
    span {
        .btn;
        .marg(10,20,10);
        display: inline-block;
        // margin-right: 20px;
    }
    p {
        display: inline-block;
    }
}
