.sth-modal-wrap {
    position: fixed;
    z-index: 11000;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    display: none;
    .sth-close-modal {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    .sth-modal {
        .sth;
        position: relative;
        .marg-auto(100);
        background: #fff;
        border-radius: 2px;
        .sth-modal-head {
            background: @col-sec-1;
            border-radius: 2px 2px;
            display: block;
            width: 100%;
            .padd(10,20,10,20);
            .font-size(18);
            border-bottom: 1px solid @col-sec-2;
            .marg(0,0,15);
        }
        .sth-modal-body {
            .padd(10,20,10,20);
        }
        .sth-modal-footer {
            background: @col-sec-1;
            width: 100%;
            display:block;
            border-radius: 0 0 2px 2px;
            .padd(10,20,10,20);
            .marg(15);
            .btn {
                .marg();
            }
        }

    }
    &.active {
        display: block;
        .sth-modal {
         -moz-animation: modal .5s 1  cubic-bezier(.68,-0.55,.27,1.55);
            -webkit-animation: modal .5s 1  cubic-bezier(.68,-0.55,.27,1.55);
            animation: modal .5s 1  cubic-bezier(.68,-0.55,.27,1.55);
        }
    }
}

@-webkit-keyframes modal {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
@-moz-keyframes modal {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes modal {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}
