.sth-well {
    background: @col-sec-1;
    border: 1px solid @col-sec-2;
    .padd(15,15,15,15);
    border-radius: 2px;
    &.sth-well-lg {
        .padd(30,30,30,30);
    }
}

.sth-pagination {
    li {
        display: inline-block;
        border: 1px solid @col-sec-2;
        .padd(10,5,10,5);
        .text-center;
        .font-size(12,20px);
        min-width: 40px;
        min-height:40px;
        &:last-child {
        .padd(10,5,10,5);

        }
        &:before {
            display: none;
        }
        &:hover, &.active {
            background: @col-base;
            color: #fff;
            a {
                color: #fff;
            }
        }
        a {
            .font-size(12,20px);
            color: @col-base;
            text-decoration: none;
        }
    }
}
.sth-tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dashed @col-base;
    span {
        display: none;
        position: absolute;
        z-index: 900;
        width: 250px;
        height: auto;
        background: @col-base;
        color: #fff;
        border-radius: 2px;
        .padd(5,10,5,10);
        top: 100%;
        margin-top: 10px;
        .font-size(12);
        left: 0;
        &:before {
            position: absolute;
            top: -10px;
            left: 40px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7.5px 10px 7.5px;
            border-color: transparent transparent @col-base transparent;
        }
    }
    &:hover {
        span {
            display: block;
        }
    }
    &.sth-tooltip-left span {
        left: -260px;
        top: -10px;
        &:before {
            position: absolute;
            top: 5px;
            left: auto;
            right: -5px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width:  7.5px 0 10px 7.5px;
            border-color: transparent  transparent transparent @col-base;
        }
    }
    &.sth-tooltip-right span {
        // right: -100%;
        left: 100%;
        margin-left: 10px;
        top: -10px;
        &:before {
            position: absolute;
            top: 5px;
            left: -5px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width:  7.5px 10px 7.5px 0;
            border-color: transparent @col-base transparent transparent ;
        }
    }
    &.sth-tooltip-top span {
        top: auto;
        bottom: 100%;
        &:before {
            position: absolute;
            top: 100%;
            left: 10px;
            right: -5px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width:   7.5px  10px 0 7.5px;
            border-color: @col-base transparent  transparent  transparent ;
        }
    }
}
.sth-tag {
    background: @col-base;
    color: #fff;
    .padd(5,10,5,10);
    .font-size(12);
    display: inline-block;
    border-radius: 2px;
    &.sth-tag-ok {
        background: @col-ext-3;
    }
    &.sth-tag-bad {
        background: @col-ext-1;
    }
    &.sth-tag-light {
        background: @col-sec-1;
        color: @col-base;
    }
}
.sth-progress {
    width: 100%;
    border: 1px solid @col-sec-2;
    height: 30px;
    border-radius: 2px;
    position: relative;
    .marg(0,0,10);
    overflow: hidden;
    .sth-progress-bar {
        height: 100%;
        width: 0;
        left: 0;
        top: 0;
        position: absolute;
        background: @col-base;
        border-radius: 2px;
    }
    &.sth-progress-light .sth-progress-bar {
        background: @col-sec-2;
    }
    &.sth-progress-ok .sth-progress-bar {
        background: @col-ext-3;
    }
    &.sth-progress-bad .sth-progress-bar {
        background: @col-ext-1;
    }
    &.sth-progress-animated .sth-progress-bar {
        background-image: url(/_dist/img/bg.png);
        -moz-animation: bgscroll 15s infinite linear;
        -webkit-animation: bgscroll 15s infinite linear;
        animation: bgscroll 15s infinite linear;
        background-repeat: repeat-x;
        .background-size(301px 100px);
        background-position: center center;
    }
}
@-webkit-keyframes bgscroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -301px 0;
    }
}
@-moz-keyframes bgscroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -301px 0;
    }
}
@keyframes bgscroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -301px 0;
    }
}
