.sth-steps {
    .sth;
    background: @col-sec-1;
    .sth-step {
        min-height: 100px;
        .padd(40,0,40,0);
        .text-center;
        .sth-1;
        .sth-step-n {
            .font-size(40,70px);
            background: #fff;
            display: block;
            .dims-rem(60,60);
            .marg-auto(0,20);
            .text-center;
            border-radius: 100px;
        }
        &.active {
            color: #fff;
            background: @col-ext-1;
            .sth-step-n {
                color: @col-base;
            }
        }
        h2 {
            text-transform: uppercase;
            .font-size(20);
        }
    }
    &.sth-steps-small {
        .marg(10,0,10,0);
        .sth-step-n {
            .font-size(20, 35px);
            .dims-rem(30,30);
            float: left;
            .marg(5,20,0,20);
        }
        .sth-step {
        min-height: 0px;
            text-align: left;
            .padd(10,0,10,0);
        }
        h2 {
            .font-size(18);
        }
    }
}
