* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
    padding-top: 100px;
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
    margin: ~"0 auto -@{footer-height}";
}
footer, .push {
	height: @footer-height; /* .push must be the same height as .footer */
}
