table, tbody {
    display: table;
    tr {
        display: table-row;
    }
    td, th {
        display: table-cell;
    }
}

table, tbody {
    width: 100%;
    tr {
        width: 100%;
    }
}

tbody {
    border: 1px solid @col-sec-1;
    tr {
        border-bottom: 1px solid @col-sec-1;
        &:hover {
            background: @col-sec-1;
        }
        th, td {
            .padd(10,20,10,20);
        }
    }
}
