.sth-tabs {
    .tab {
        display: none;

        // opacity: 0;
        // .transition(opacity 1s);
        &.active {
            display: block;

            // opacity: 1;
        }
    }
}
.sth-tabs-switch {
    border-bottom: 1px solid @col-sec-2;
    .marg(0,0,20);
    [sth-tabs] {
        border: 1px solid transparent;
        cursor: pointer;
        .padd(5,15,5,15);
        .marg(0,0,-1);
        &:hover {
            background: @col-sec-1;
        }
        &.active {
            border-color: @col-sec-2;
            border-bottom: 1px solid #fff;
        }
        display: inline-block;
    }
}
.sth-tabs-left {
    .sth;
    align-items: none;
    .sth-tabs-switch {
        .sth-2;

        border-bottom: none;
        border-right: 1px solid @col-sec-2;
        .marg(0,20,0);
        [sth-tabs] {
            width: 100%;

            // height: 100%;
            &.active {
                border-right: 1px solid #fff;
                border-bottom: 1px solid @col-sec-2;
                position: relative;
                &:after {
                    position: absolute;
                    right: -2px;
                    width: 1px;
                    height: 100%;
                    content: "";
                    background: #fff;
                    top: 0;
                }
            }
        }
    }
    .sth-tabs {
        .sth-7;
    }
}

.sth-accordion {
    .sth-acc {
        .sth-acc-h {
            border: 1px solid @col-sec-2;
            .padd(5,10,5,10);
        }
        .sth-acc-c {
            height: 0px;
            overflow: hidden;
            border-left: 1px solid @col-sec-2;
            border-right: 1px solid @col-sec-2;
            .transition(all .5s);

        }
        &.active .sth-acc-c {
            height: 250px;
            .padd(10,10,10,10);
        }
        &:last-child .sth-acc-c{
            border-bottom: 1px solid @col-sec-2;
        }
    }
}
