.timeline-sided {
    position: relative;
    &:after {
        position: absolute;
        width: 3px;
        background: @col-sec-2;
        height: 100%;
        content: "";
        left: 50%;
        top: 0;
        margin-left: -1px;
    }
    li {
        width: 45%;
        .marg(0,20, 20);
        border-radius: 2px;
        .padd(10,20,10,20);
        background: @col-sec-1;
        position: relative;
        .timeline-head {
            .text-right;
            position: absolute;
            left: 100%;
            width: 100%;
            margin-left: 50px;
            top: 0;
        }
        &:before {
            display: none;
        }
        &:after {
            position: absolute;
            content: "";
            top: 5px;
            right: -14px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent @col-sec-1;
        }
        &:nth-child(even) {
            .padd(10,20,10,20);
            .marg(0,0,0,20);
            .text-right;
            margin-left: auto;
            position: relative;
            display: block;
            .timeline-head {
                .text-left;
                left: auto;
                margin-left: auto;
                position: absolute;
                right: 100%;
                width: 100%;
                margin-right: 50px;
                top: 0;
            }
            &:after {
                border-width: 10px 15px 10px 0;
                border-color: transparent @col-sec-1 transparent transparent;
                right: auto;
                left: -14px;
            }
        }
    }
}
.timeline {
    .padd(0,0,0,60);
    .marg(0,0,0,40);
    border-left: 4px solid @col-ext-1;
    .timeline-head {
        position: absolute;
        background: #fff;
        left: 0;
        margin-left: -97px;
        border: 3px solid @col-ext-1;
        .dims(70px,70px);
        .text-center;
        top: 50%;
        margin-top: -35px;
        border-radius: 100px;
        i,
        p {
            .font-size(30, 65px);

            // color: @col-sec-2;
        }
        img {
            .dims(100%, 100%);
            border-radius: 100px;
        }
        &.th-filled {
            background: @col-ext-1;
            i,
            p {
                color: #fff;
            }
        }
    }
    li {
        position: relative;
        &:before {
            display: none;
        }
        &:last-child {
            .padd();
            .timeline-head {

                // top: auto;
                // bottom: 0px;
            }
        }
    }
    &.timeline-backgrounds {
        li {
            .marg(10,0,10,0);
            .padd(20,20,20,20);
            border-radius: 2px;
            background: @col-sec-1;
            &:after {
                position: absolute;
                content: "";
                top: 50%;
                margin-top: -10px;
                border-width: 10px 15px 10px 0;
                border-color: transparent @col-sec-1 transparent transparent;
                right: auto;
                left: -14px;
                width: 0;
                height: 0;
                border-style: solid;
            }
        }
    }
    &.timeline-dark {
        li {
            .marg(10,0,10,0);
            .padd(20,20,20,20);
            border-radius: 2px;
            background: @col-base;
            color: #fff;
            .timeline-head {
                i,
                p {
                    color: @col-base;
                }
                &.th-filled {
                    i,
                    p {
                        color: #fff;
                    }
                }
            }
            &:after {
                position: absolute;
                content: "";
                top: 50%;
                margin-top: -10px;
                border-width: 10px 15px 10px 0;
                border-color: transparent @col-base transparent transparent;
                right: auto;
                left: -14px;
                width: 0;
                height: 0;
                border-style: solid;
            }
        }
    }
}
