h1,h2,h3,h4,h5 {
    font-family: @font-medium;
    i {
        display: inline-block;
        float: left;
        .padd(0,15);
    }
}
h1 {
    .font-size(28);
}
h2 {
    .font-size(24);
}
h3 {
    .font-size(20);
}
h4 {
    .font-size(18);
    // text-transform: uppercase;
}
p {
    .padd(0,0,20);
}
a {
    color:@col-base;
    display: inline-block;
    .transition(color .2s);
    &:hover {
        color: darken(@col-base, 10%);
    }
}

ul {
    // .padd(0,0,20,20);
    li {
        &:before {
            width: 5px;
            height: 5px;
            background: #000;
            border-radius: 10px;
            content: "";
            .marg(0,10,3);
            display: inline-block;
        }
        &:last-child {
            .padd(0,0,30,0);
        }
    }
    &.no-style-list {
        li:before {
            display: none;
        }
    }
}
ol {
    // .padd(0,0,20, 20);
    counter-reset: olcount;
    li {
        position: relative;
        .padd(0,0,10,30);
        &:before {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 20px;
            height: 20px;
            background: #000;
            border-radius: 10px;
            content: "";
            .marg(0,10,3);
            display: inline-block;
        }
            &:last-child {
                .padd(0,0,30,30);
            }
        &:after {
            position: absolute;
            left: 0px;
            top: 0px;
            color: #fff;
            width: 22px;
            .text-center;
            content: counter(olcount)". ";
            counter-increment: olcount;
            .marg(0,10,3);
            display: inline-block;
        }

    }
}
.inline-list {
    li {
        display: inline;
        .padd(0,10);
    }
}
ol.inline-list li {
    .padd(0,10,0,30);
}

.ok {
    color: @col-g;
}
.bad {
    color: @col-ext-2;
}
.not {
    color: @col-sec-2;
}
.highlight {
    color: @col-ext-1;
}

blockquote {
    background: @col-sec-1;
    position: relative;
    &:before {
        position: absolute;
        left: 0px;
        top: 0;
        .dims(100px, 100%);
        background: @col-ext-1;
        content: "";
    }
    &:after{
        position: absolute;
        left: 20px;
        top: 50%;
        .dims-rem(60,44);
        .marg(-22);
        background: url('../img/quote.svg');
        content: "";
        .background-size(cover);
    }
    .padd(40,40,40,120);
    .author {
        .font-size(18);
        .text-right;
        .padd(20);
    }
    a {
        .font-size(14);
        display: block;
        color: @col-ext-1;
    }
}
