@col-base: #006db3;
@col-sec-1: #E7E8EB;
@col-sec-2: #D7D8DD;
@col-sec-3: #F5BC1A;

@col-font-1: #727D92;

@col-ext-1: #ee4762;
@col-ext-2: #dd3f4e;
@col-ext-3:  	#c5d00f;

@col-g:  	#c5d00f;
@col-r: #dd3f4e;

@footer-height: 70px;
@menu-height: 50;


.sth-center {
    margin: 0 auto !important;
}
.sth-right {
    margin: 0 0 0 auto !important;
}
